* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_fish_skin.png);
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 100%;
}
.maintenance {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h2{
  font-size: 1rem;
}

.container{
  padding: 10vw 20px;
}

.container .what-is-up {
  text-align: center;
  box-sizing: border-box;
}
.container .what-is-up .spinny-cogs {
  display: block;
  margin-bottom: 2rem;
}
@-webkit-keyframes fa-spin-one {
  0% {
    -webkit-transform: translateY(-2rem) rotate(0deg);
    transform: translateY(-2rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-2rem) rotate(-359deg);
    transform: translateY(-2rem) rotate-(359deg);
  }
}
@keyframes fa-spin-one {
  0% {
    -webkit-transform: translateY(-2rem) rotate(0deg);
    transform: translateY(-2rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-2rem) rotate(-359deg);
    transform: translateY(-2rem) rotate-(359deg);
  }
}
.fa-spin-one, .container .what-is-up .spinny-cogs .fa:nth-of-type(1) {
  -webkit-animation: fa-spin-one 1s infinite linear;
  animation: fa-spin-one 1s infinite linear;
}
@-webkit-keyframes fa-spin-two {
  0% {
    -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
    transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
    transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
  }
}
@keyframes fa-spin-two {
  0% {
    -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
    transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
    transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
  }
}
.fa-spin-two, .container .what-is-up .spinny-cogs .fa:nth-of-type(3) {
  -webkit-animation: fa-spin-two 2s infinite linear;
  animation: fa-spin-two 2s infinite linear;
}
